HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
.도윤/*

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/


.env
.env.*
!.env.example

*secret*
src/main/resources/application-local.yml
src/main/resources/firebase/firebase.json
### Firebase service account credentials ###
src/main/resources/firebase/*.json
src/main/java/**/firebase/*-firebase-adminsdk-*.json
*-firebase-adminsdk-*.json
src/main/resources/firebase/firebase.json
